{% extends 'index.html' %}
{% block content %}
    <div class="w3-cell-row" align="center">
      <div class="w3-container w3-cell w3-mobile">
	  <br>
        <div class="w3-container w3-cell w3-mobile">
          <p><a href="/register"><i class="fa fa-address-card fa-5x"></i>
          <br>Register a voter</a></p>
        </div>
		<br>
		<div class="w3-container w3-cell w3-mobile">
          <p><a href="/vote"><i class="fa fa-address-card fa-5x"></i>
          <br>Vote for a proposal</a></p>
        </div>
		<br>
		<div class="w3-container w3-cell w3-mobile">
          <p><a href="/getcount"><i class="fa fa-address-card fa-5x"></i>
          <br>Get the number of vote per proposal</a></p>
        </div>
		<br>
		   <div class="w3-container w3-cell w3-mobile">
          <p><a href="/winningproposal"><i class="fa fa-address-card fa-5x"></i>
          <br>Get the winning proposal</a></p>
        </div>

      </div>
	
    </div>
{% endblock content %}
